body {
    margin: 60px auto;
    width: 70%;
    background-color: #a8a8a8;
}
nav ul, footer ul {
    font-family:'Georgia Bold';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    color: #5d82c1;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #325796;
}
a:hover {
    text-decoration: bold;
    color: #4a69bd;
}
h1 {
    font-size: 3em;
    font-family:'Impact';
    color: #335ba1;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    font-family:'verdana';
    color: #ffffff;
    text-decoration:bold;
}
h2 {
    font-family:'Georgia Bold';
    color: #335ba1;
    text-decoration: bold;
}
footer {
    border-top: 1px solid #3f3f3f;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
