<!DOCTYPE html>
       <html>
	         <head>
		                  <title>Mohima Firdaus- Nuffield research project </title>
		                  <link rel="stylesheet" type="text/css" href="/css/main.css">
	         </head>
	         <body>
	        	<nav>
    	    	<ul>
        		           <li><a href="/">Home</a></li>
	                   	 <li><a href="/about">About</a></li>
        		           <li><a href="/method">Method</a></li>
        	           	 <li><a href="/map">Map</a></li>
    		    </ul>
	        	</nav>
	        <form method="POST" accept-charset="UTF-8" action="https://ixquick.com/do/metasearch.pl" id="searchsys" onsubmit="javascript:document.searchsys.query.value=document.searchsys.keyword.value;;for(i=0;i<this.cat.length;i++){if(this.cat[i].checked){c=this.cat[i].value;}}if (c!='web') {this.host.value=document.domain;} else {this.host.value=''};" name="searchsys">
<table style="background:url(https://ixquick.com/graphics/table_bg_option8.gif) repeat-x 0px 0px; height: 60px;" border="0" cellspacing="0" cellpadding="0">
    <tbody><tr>
      <td style="padding: 7px 5px 0px 10px;"><a 
 
 
	         	<div class="container">
	         	  
	         	            {{ content }}
	         	            
	         	 </div><!-- /.container -->
			       <footer>
	    	    <ul>
    	
    	           <li><a href="https://github.com/mohimafirdaus">github.com/mohimafirdaus</a></li>
		           	</ul>
		         </footer>
        	</body>
      </html>
