<!DOCTYPE html>
       <html>
	         <head>
		                  <title>Mohima Firdaus- Nuffield research project </title>
		                  <link rel="stylesheet" type="text/css" href="/css/main.css">
	         </head>
	         <body>
	        	<nav>
    	    	<ul>
        		           <li><a href="/">Home</a></li>
	                   	 <li><a href="/about">About</a></li>
        		           <li><a href="/method">Method</a></li>
        	           	 <li><a href="/map">Map</a></li>
    		    </ul>
	        	</nav>
	        	<form id="frmSearch" class="search2" method="get" action="default.html" />
<input class="search2" id="txtSearch" type="text" name="serach_bar" size="31" maxlength="255"       
value="" style="left: 396px; top: 153px; width: 293px; height: 26px;" />
<input class="search1" type="submit" name="submition" value="Search" style=" padding-  
bottom:20px; left: 691px; top: 153px; height: 23px" />
<input class="search2" type="hidden" name="sitesearch" value="default.html" />
<script type="text/javascript">
    document.getElementById('frmSearch').onsubmit = function() {
        window.location = 'http://mohimafirdaus.github.io/ ' + document.getElementById('txtSearch').value;
        return false;
    }
</script>
	        
	         	<div class="container">
	         	  
	         	            {{ content }}
	         	            
	         	 </div><!-- /.container -->
			       <footer>
	    	    <ul>
    	
    	           <li><a href="https://github.com/mohimafirdaus">github.com/mohimafirdaus</a></li>
		           	</ul>
		         </footer>
        	</body>
      </html>
