<!DOCTYPE html>
       <html>
	         <head>
		                  <title>Mohima Firdaus- Nuffield research project </title>
		                  <link rel="stylesheet" type="text/css" href="/css/main.css">
	         </head>
	         <body>
	        	<nav>
    	    	<ul>
        		           <li><a href="/">Home</a></li>
	                   	 <li><a href="/about">About</a></li>
        		           <li><a href="/method">Method</a></li>
        	           	 <li><a href="/map">Map</a></li>
        	           	 <l1> <a href = "/updated-map"> Updated map</a></l1>
    		    </ul>
	        	</nav>
	        
	        
	         	<div class="container">
	         	  
	         	            {{ content }}
	         	            
	         	 </div><!-- /.container -->
	         	 <footer>
	         	 	<ul>
	         	 		<li> <a href="https://github.com/mohimafirdaus/">https://github.com/mohimafirdaus/</a></li>
	         	 	</ul>
	         	 </footer>
			      
        	</body>
      </html>
